[user]
  name = Rolando Murillo
  email = rolando@bandd.co

[core]
  editor = nvim

[push]
  default = current

[pull]
  default = current

[alias]
  rollback = reset -–hard HEAD@{1}
  br = branch
  ci = commit
  amen = commit --amend --no-edit
  wip = commit -m 'wip'
  undo = reset --soft HEAD^
  co = checkout
  df = diff
  lg = log -p
  rb = rebase
  st = status
  bd = branch --edit-description

[color]
  branch = true
  diff = true
  interactive = true
  status = true

[rebase]
  instructionFormat = "(%an <%ae>) %s"
